fieldset {
    border: none !important;
    background: #2D4263 !important;
    color: #fff !important;
    opacity: 0.4 !important;
}

.MuiPaper-root  {
    box-shadow: none !important;
    border: none !important;
}

.menu-box {
    overflow-y: auto;
    height: calc(100vh - 180px);
    margin: 0px 4px;
    /* padding: 16px; */
}