.footerContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #2D4263;
    height: 200px;
}
.footer{
    display: flex;
    justify-content: space-between;
    width: 600px;
    align-items: center;
    color: #fff;
}

.footer div {
    text-align: center;
}
